<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

    <style>
        * {
        margin: 0 auto;
        font-family: sans-serif;
        padding: 0px;
      }
      nav {
        background-color: white;
        justify-content: space-evenly;
        display: flex;
        border-bottom: 1px solid black;
        margin-bottom: 10px;


      }
      nav ol {
        display: flex;
        align-items: center;
      }
      nav img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border:1px solid black;
      }
      nav li {
        list-style-type: none;
        padding: 2px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 15px;
        text-align: center;
      }
      nav li:hover {
        scale: 1.1;
        font-weight:bold;
      }
      #current-page {
        font-weight: bold;
      }
    </style>

    @RenderSection("Script", false)
    
</head>
<body>
    <nav>

      <ol>
        <li><a>Community Connect</a></li>
        <li><a>Communities</a></li>
        <li>Map & Events</li>
        <li>Contact us</li>
      </ol>
      <ol>
        <li>Tan Keng </li>
        <li><img src="meowprintshirtchart.png"></li>
      </ol>
    </nav>

   <!--Navbar-->


 <!--Body-->
    <div class="container-fluid p-2">
        @RenderBody()
    </div>
    <footer>

    </footer>
</body>
</html>
