@model List<Posts>
@{
	Layout = "_Layout";
}

<style>
	#container{
		padding-top:100px;
	}
	#card{
		text-align:start;
		border: solid 1px black;
		margin-bottom:50px;
		border-radius:5px;
	}

	#text{
		padding: 20px;
	}

	#title{
		font-weight:bold;
		text-decoration:underline;
	}
</style>

<div class="container" id="container">
	@for (int i =0; i < Model.Count; i++)
	{
		<div class="col-6" id="card">
			<div id="text">
				<h3 id="title">@Model[i].PostTitle</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<img src="~/images/baseimage.png" width="100%" />
			<div>
			</div>
		</div>
	}
</div>